.header{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.header_heading{
    font-size: 36px;
}

.header_tagline{
    font-size: 18px;
    margin-top: 16px;
}

.profile_img{
    display: block;
    height: 100px;
    width: 90px;
    border-radius: 50%;
}